---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
        <!-- ClustrMaps Visitor Map -->
<!--         <div class="visitor-map">
          <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=Qpvxx9xMqSq2g4lpT2uH_1DYSzLDDLXVd31u_0bi0D4"></script>
        </div> -->
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
